<!--  Footer with closing tags  -->
<footer class="footer mt-auto pt-3 bg-light text-center">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 FHL
    </div>
</footer>
</body>
</html>